{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.config.prod.js"
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "arrow-parens": "off"
  }
}
